{% extends "base.html" %}

{% block titulo %}Login{% endblock %}

{% block principal %}

<div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xxl-4
offset-xxl-4">
    <h1 class="display-6 text-white">Login</h1>
    <hr class="my-3">
    <p class="lead text-white">
        Use suas credenciais para entrar na área restrita.
    </p>
    <form method="post" class="mb-5">
        <div class="row g-4">
            <div class="col-12">
                <div class="form-floating">
                    <input type="text" class="form-control" id="email"
                        name="email" placeholder=" " required autofocus>
                    <label for="email">E-mail</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating">
                    <input type="password" class="form-control" id="senha"
                        name="senha" placeholder=" " required>
                    <label for="senha">Senha</label>
                </div>
            </div>
            <div class="col-12">
                {% set text = "Cancelar" %}
                {% set href = "/" %}
                {% set classe = "btn-secondary" %}
                {% include "includes/link.html" %}

                {% set text = "Entrar" %}
                {% set type = "submit" %}
                {% set classe = "btn-success" %}
                {% include "includes/button.html" %}
            </div>
        </div>
    </form>
</div>
{% endblock %}